# Creating spreadsheet from B3 to income tax

# Criando uma planilha com dados retirados da B3 para declarar no impost do renda

In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd
from os import listdir
from os.path import isfile, join
import numpy as np

Is necessary to put the data in raw_data directory because the informations are personas

Necessário colocar os dados em raw_data por se tratar de informações pessoais

In [2]:
path = '../raw_data'
files = [f for f in listdir(path) if isfile(join(path, f))]

Feature engineering

Organizando as colunas

In [3]:
list_files = []
for file in range(0, len(files)):
    list_file = pd.read_excel(f'{path}/{files[file]}', parse_dates=['Data'])
    list_files.append(list_file)
list_all_files = pd.concat(list_files)
list_files_s = list_all_files.sort_values(by=['Produto', 'Data'])
df_files = pd.DataFrame(list_files_s)
df_files.tail(15)

/home/thamirisbrandao/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Entrada/Saída,Data,Movimentação,Produto,Instituição,Quantidade,Preço unitário,Valor da Operação
78,Credito,2020-07-01,Compra,Tesouro Selic 2025,CLEAR CORRETORA - GRUPO XP,"2,14",10466.52,22398.35
0,Credito,2022-03-23,Compra,Tesouro Selic 2025,CLEAR CORRETORA - GRUPO XP,"4,72",11457.89,54081.24
6,Credito,2021-10-19,Compra,Tesouro Selic 2027,CLEAR CORRETORA - GRUPO XP,"7,34",10905.72,80047.98
8,Credito,2021-10-11,Transferência - Liquidação,VALE3 - VALE S.A.,CLEAR CORRETORA - GRUPO XP,100,67.46,6746.00
5,Credito,2021-10-20,Transferência - Liquidação,VALE3 - VALE S.A.,CLEAR CORRETORA - GRUPO XP,100,79.57,7957.00
0,Debito,2021-10-25,Transferência - Liquidação,VALE3 - VALE S.A.,CLEAR CORRETORA - GRUPO XP,100,74.00,7400.00
49,Credito,2020-05-19,Transferência - Liquidação,VALE3 - VALE S.A. ...,CLEAR CORRETORA - GRUPO XP,100,48.90,4890.00
1,Debito,2021-10-25,Transferência - Liquidação,VIVA3 - VIVARA PARTICIPAÇÕES S.A.,CLEAR CORRETORA - GRUPO XP,128,26.89,3442.69
40,Credito,2020-03-06,Transferência - Liquidação,VIVA3 - VIVARA PARTICIPAÇOES S.A ...,CLEAR CORRETORA - GRUPO XP,50,20.00,1000.00
5,Credito,2020-07-31,Transferência - Liquidação,VIVT4 - TELEFÔNICA BRASIL S.A ...,XP INVESTIMENTOS CCTVM S/A,26,50.88,1322.88
62,Credito,2020-03-20,Transferência - Liquidação,VVAR3 - VIA VAREJO S.A. ...,CLEAR CORRETORA - GRUPO XP,900,4.35,3915.00
50,Debito,2020-05-05,Transferência - Liquidação,VVAR3 - VIA VAREJO S.A. ...,CLEAR CORRETORA - GRUPO XP,1800,9.00,16200.00
41,Credito,2020-03-06,Transferência - Liquidação,YDUQ3 - YDUQS PARTICIPACOES S.A. ...,CLEAR CORRETORA - GRUPO XP,40,29.50,1180.00
14,Credito,2020-07-28,Transferência - Liquidação,YDUQ3 - YDUQS PARTICIPACOES S.A. ...,CLEAR CORRETORA - GRUPO XP,40,32.98,1319.20
17,Debito,2021-05-24,Transferência - Liquidação,YDUQ3 - YDUQS PARTICIPACOES S.A. ...,CLEAR CORRETORA - GRUPO XP,80,31.43,2514.40

In [4]:
df_files['Data da compra'] = df_files['Data'].where(df_files['Entrada/Saída'] == 'Credito')
df_files['Data da venda'] = df_files['Data'].where(df_files['Entrada/Saída'] == 'Debito')
df_files = df_files[['Produto', 'Data da compra', 'Data da venda', 'Quantidade', 'Preço unitário', 'Valor da Operação', 'Movimentação', 'Instituição']]
df_files['Quantidade'] = df_files['Quantidade'].apply(lambda x: x.replace(',','.'))
df_files['Quantidade'] = df_files['Quantidade'].astype(float)
df_files.tail(15)

,Produto,Data da compra,Data da venda,Quantidade,Preço unitário,Valor da Operação,Movimentação,Instituição
78,Tesouro Selic 2025,2020-07-01,NaT,2.14,10466.52,22398.35,Compra,CLEAR CORRETORA - GRUPO XP
0,Tesouro Selic 2025,2022-03-23,NaT,4.72,11457.89,54081.24,Compra,CLEAR CORRETORA - GRUPO XP
6,Tesouro Selic 2027,2021-10-19,NaT,7.34,10905.72,80047.98,Compra,CLEAR CORRETORA - GRUPO XP
8,VALE3 - VALE S.A.,2021-10-11,NaT,100.00,67.46,6746.00,Transferência - Liquidação,CLEAR CORRETORA - GRUPO XP
5,VALE3 - VALE S.A.,2021-10-20,NaT,100.00,79.57,7957.00,Transferência - Liquidação,CLEAR CORRETORA - GRUPO XP
0,VALE3 - VALE S.A.,NaT,2021-10-25,100.00,74.00,7400.00,Transferência - Liquidação,CLEAR CORRETORA - GRUPO XP
49,VALE3 - VALE S.A. ...,2020-05-19,NaT,100.00,48.90,4890.00,Transferência - Liquidação,CLEAR CORRETORA - GRUPO XP
1,VIVA3 - VIVARA PARTICIPAÇÕES S.A.,NaT,2021-10-25,128.00,26.89,3442.69,Transferência - Liquidação,CLEAR CORRETORA - GRUPO XP
40,VIVA3 - VIVARA PARTICIPAÇOES S.A ...,2020-03-06,NaT,50.00,20.00,1000.00,Transferência - Liquidação,CLEAR CORRETORA - GRUPO XP
5,VIVT4 - TELEFÔNICA BRASIL S.A ...,2020-07-31,NaT,26.00,50.88,1322.88,Transferência - Liquidação,XP INVESTIMENTOS CCTVM S/A
62,VVAR3 - VIA VAREJO S.A. ...,2020-03-20,NaT,900.00,4.35,3915.00,Transferência - Liquidação,CLEAR CORRETORA - GRUPO XP
50,VVAR3 - VIA VAREJO S.A. ...,NaT,2020-05-05,1800.00,9.00,16200.00,Transferência - Liquidação,CLEAR CORRETORA - GRUPO XP
41,YDUQ3 - YDUQS PARTICIPACOES S.A. ...,2020-03-06,NaT,40.00,29.50,1180.00,Transferência - Liquidação,CLEAR CORRETORA - GRUPO XP
14,YDUQ3 - YDUQS PARTICIPACOES S.A. ...,2020-07-28,NaT,40.00,32.98,1319.20,Transferência - Liquidação,CLEAR CORRETORA - GRUPO XP
17,YDUQ3 - YDUQS PARTICIPACOES S.A. ...,NaT,2021-05-24,80.00,31.43,2514.40,Transferência - Liquidação,CLEAR CORRETORA - GRUPO XP

In [5]:
df_fixedi_c = df_files[df_files['Movimentação'] == 'Compra']
df_fixedi_v = df_files[df_files['Movimentação'] == 'Venda']
df_fixedi = pd.concat([df_fixedi_c, df_fixedi_v])
df_fixedi = df_fixedi[['Produto', 'Data da compra', 'Data da venda', 'Quantidade', 'Preço unitário', 'Valor da Operação', 'Instituição']]
df_fixedi = df_fixedi.sort_values(by=['Produto']).reset_index()
df_fixedi

,index,Produto,Data da compra,Data da venda,Quantidade,Preço unitário,Valor da Operação,Instituição
0,63,Tesouro Selic 2023,NaT,2020-03-17,0.71,10551.64,7491.66,XP INVESTIMENTOS CCTVM S/A
1,78,Tesouro Selic 2025,2020-07-01,NaT,2.14,10466.52,22398.35,CLEAR CORRETORA - GRUPO XP
2,0,Tesouro Selic 2025,2022-03-23,NaT,4.72,11457.89,54081.24,CLEAR CORRETORA - GRUPO XP
3,77,Tesouro Selic 2025,NaT,2020-03-02,2.14,10495.41,22460.18,CLEAR CORRETORA - GRUPO XP
4,6,Tesouro Selic 2027,2021-10-19,NaT,7.34,10905.72,80047.98,CLEAR CORRETORA - GRUPO XP

In [7]:
df_fixedi_buy = df_fixedi[df_fixedi['Data da compra'] > '20000101'].groupby('Produto').agg({'Quantidade':'sum'}).reset_index()
df_fixedi_sel = df_fixedi[df_fixedi['Data da venda'] > '20000101'].groupby('Produto').agg({'Quantidade':'sum'}).transform(lambda x: x *-1).reset_index()

quantidades = pd.concat([df_fixedi_sel, df_fixedi_buy]).reset_index()
quantidades_prod = quantidades.groupby(['Produto']).sum().reset_index()

for line in range(0, len(quantidades_prod)):
    if quantidades_prod.Quantidade[line] < 0:
        quantidades_prod.Quantidade[line] = quantidades_prod.Quantidade[line]*-1
    else:
        quantidades_prod.Quantidade[line]
        
quantidades_prod = quantidades_prod.rename(columns={'Quantidade': 'Saldo Total'})
quantidades_prod = pd.DataFrame(quantidades_prod)
quantidades_prod = quantidades_prod.drop(columns='index')

/tmp/ipykernel_1174/966155643.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quantidades_prod.Quantidade[line] = quantidades_prod.Quantidade[line]*-1

In [8]:
df_fixedi_opB = df_fixedi[df_fixedi['Data da compra'] > '20000101'].reset_index()
df_fixedi_opS = df_fixedi[df_fixedi['Data da venda'] > '20000101'].reset_index()

df_fixedi_opB['Lucro/Prejuízo'] = 0

for lineS in range(0, len(df_fixedi_opS)):
    for lineB in range(0, len(df_fixedi_opB)):
        if df_fixedi_opS['Quantidade'][lineS] == df_fixedi_opB['Quantidade'][lineB]:
            df_fixedi_opB['Lucro/Prejuízo'][lineB] = df_fixedi_opS['Valor da Operação'][lineS] - df_fixedi_opB['Valor da Operação'][lineB]
df_fixedi_opB = df_fixedi_opB[['Produto', 'Lucro/Prejuízo']]

sald_lu = pd.concat([quantidades_prod, df_fixedi_opB]).reset_index()

ir_fixo = sald_lu.groupby(['Produto']).sum().reset_index()
ir_fixo = ir_fixo.drop(columns='index')

ir_fixo

/tmp/ipykernel_1174/953218763.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fixedi_opB['Lucro/Prejuízo'][lineB] = df_fixedi_opS['Valor da Operação'][lineS] - df_fixedi_opB['Valor da Operação'][lineB]

              Produto  Saldo Total  Lucro/Prejuízo
0  Tesouro Selic 2023         0.71             0.0
1  Tesouro Selic 2025         4.72            61.0
2  Tesouro Selic 2027         7.34             0.0

In [9]:
df_stock = df_files[df_files['Movimentação'] == 'Transferência - Liquidação']
df_stock = df_stock[['Produto', 'Data da compra', 'Data da venda', 'Quantidade', 'Preço unitário', 'Valor da Operação', 'Instituição']]
df_stock = df_stock.sort_values(by=['Produto']).reset_index()
df_stock['Produto'] = df_stock['Produto'].apply(lambda x: x.split('-')[0].strip())
df_stock.tail(15)

,index,Produto,Data da compra,Data da venda,Quantidade,Preço unitário,Valor da Operação,Instituição
96,13,TRIS3,2020-07-28,NaT,100.0,13.36,1336.00,CLEAR CORRETORA - GRUPO XP
97,23,TRIS3,2020-06-24,NaT,100.0,12.19,1219.00,CLEAR CORRETORA - GRUPO XP
98,26,TRIS3,2020-03-11,NaT,100.0,10.55,1055.00,CLEAR CORRETORA - GRUPO XP
99,8,VALE3,2021-10-11,NaT,100.0,67.46,6746.00,CLEAR CORRETORA - GRUPO XP
100,5,VALE3,2021-10-20,NaT,100.0,79.57,7957.00,CLEAR CORRETORA - GRUPO XP
101,0,VALE3,NaT,2021-10-25,100.0,74.00,7400.00,CLEAR CORRETORA - GRUPO XP
102,49,VALE3,2020-05-19,NaT,100.0,48.90,4890.00,CLEAR CORRETORA - GRUPO XP
103,1,VIVA3,NaT,2021-10-25,128.0,26.89,3442.69,CLEAR CORRETORA - GRUPO XP
104,40,VIVA3,2020-03-06,NaT,50.0,20.00,1000.00,CLEAR CORRETORA - GRUPO XP
105,5,VIVT4,2020-07-31,NaT,26.0,50.88,1322.88,XP INVESTIMENTOS CCTVM S/A
106,62,VVAR3,2020-03-20,NaT,900.0,4.35,3915.00,CLEAR CORRETORA - GRUPO XP
107,50,VVAR3,NaT,2020-05-05,1800.0,9.00,16200.00,CLEAR CORRETORA - GRUPO XP
108,41,YDUQ3,2020-03-06,NaT,40.0,29.50,1180.00,CLEAR CORRETORA - GRUPO XP
109,14,YDUQ3,2020-07-28,NaT,40.0,32.98,1319.20,CLEAR CORRETORA - GRUPO XP
110,17,YDUQ3,NaT,2021-05-24,80.0,31.43,2514.40,CLEAR CORRETORA - GRUPO XP

In [10]:
df_stock_buy = df_stock[df_stock['Data da compra'] > '20000101'].groupby('Produto').agg({'Quantidade':'sum'}).reset_index()
df_stock_buy

   Produto  Quantidade
0    BBAS3       100.0
1   BPAC11       500.0
2    BPAN4      2100.0
3    BRFS3        50.0
4    BRKM5       100.0
5    BRSR6       700.0
6    COCE5        20.0
7    COGN3       700.0
8    CPFE3        35.0
9    CSAN3       225.0
10   CVCB3       300.0
11   ENEV3        50.0
12   EVEN3       200.0
13   GNDI3        20.0
14   GOAU4       200.0
15   HBOR3      1000.0
16   JPSA3       200.0
17   JSLG3       259.0
18   LAME4       400.0
19   LCAM3       800.0
20   MGLU3       745.0
21   MOVI3       600.0
22   MTRE3       600.0
23   OIBR3      6000.0
24   PARD3       100.0
25   PETR4      1100.0
26   PETZ3       300.0
27   POMO4      2700.0
28   PRIO3      1100.0
29   QUAL3        60.0
30   RAPT4       300.0
31   RLOG3       200.0
32   RRRP3       100.0
33   SHUL4       400.0
34   TCSA3       300.0
35   TRIS3       300.0
36   VALE3       300.0
37   VIVA3        50.0
38   VIVT4        26.0
39   VVAR3       900.0
40   YDUQ3        80.0

In [11]:
df_stock_sel = df_stock[df_stock['Data da venda'] > '20000101'].groupby('Produto').agg({'Quantidade':'sum'}).transform(lambda x: x *-1).reset_index()
df_stock_sel

   Produto  Quantidade
0    ABEV3      -100.0
1    AMER3       -72.0
2    BBAS3      -210.0
3   BPAC11       -50.0
4    BRFS3       -50.0
5    BRKM5      -100.0
6    COGN3      -700.0
7    CPFE3       -35.0
8    CVCB3      -300.0
9    GNDI3       -55.0
10   LAME4      -400.0
11   PARD3      -100.0
12   PRIO3     -1100.0
13   PRNR3       -35.0
14   RAPT4      -300.0
15  SAPR11      -135.0
16   SHUL4      -400.0
17   TCSA3      -300.0
18   TRIS3      -300.0
19   VALE3      -100.0
20   VIVA3      -128.0
21   VVAR3     -1800.0
22   YDUQ3       -80.0

In [12]:
quantidades_stock = pd.concat([df_stock_sel, df_stock_buy]).reset_index()
quantidades_prod_stock = quantidades_stock.groupby(['Produto']).sum().reset_index()
for line in range(0, len(quantidades_prod_stock)):
    if quantidades_prod_stock.Quantidade[line] < 0:
        quantidades_prod_stock.Quantidade[line] = quantidades_prod_stock.Quantidade[line]*-1
    else:
        quantidades_prod_stock.Quantidade[line]
quantidades_prod_stock

/tmp/ipykernel_1174/2690411570.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quantidades_prod_stock.Quantidade[line] = quantidades_prod_stock.Quantidade[line]*-1

   Produto  index  Quantidade
0    ABEV3      0       100.0
1    AMER3      1        72.0
2    BBAS3      2       110.0
3   BPAC11      4       450.0
4    BPAN4      2      2100.0
5    BRFS3      7         0.0
6    BRKM5      9         0.0
7    BRSR6      5       700.0
8    COCE5      6        20.0
9    COGN3     13         0.0
10   CPFE3     15         0.0
11   CSAN3      9       225.0
12   CVCB3     18         0.0
13   ENEV3     11        50.0
14   EVEN3     12       200.0
15   GNDI3     22        35.0
16   GOAU4     14       200.0
17   HBOR3     15      1000.0
18   JPSA3     16       200.0
19   JSLG3     17       259.0
20   LAME4     28         0.0
21   LCAM3     19       800.0
22   MGLU3     20       745.0
23   MOVI3     21       600.0
24   MTRE3     22       600.0
25   OIBR3     23      6000.0
26   PARD3     35         0.0
27   PETR4     25      1100.0
28   PETZ3     26       300.0
29   POMO4     27      2700.0
30   PRIO3     40         0.0
31   PRNR3     13        35.0
32   QUAL3     29        60.0
33   RAPT4     44         0.0
34   RLOG3     31       200.0
35   RRRP3     32       100.0
36  SAPR11     15       135.0
37   SHUL4     49         0.0
38   TCSA3     51         0.0
39   TRIS3     53         0.0
40   VALE3     55       200.0
41   VIVA3     57        78.0
42   VIVT4     38        26.0
43   VVAR3     60       900.0
44   YDUQ3     62         0.0

In [13]:
quantidades_prod_stock = pd.DataFrame(quantidades_prod_stock)
quantidades_prod_stock = quantidades_prod_stock.drop(columns='index')
quantidades_prod_stock = quantidades_prod_stock.rename(columns={'Quantidade': 'Saldo Total'})
quantidades_prod_stock

   Produto  Saldo Total
0    ABEV3        100.0
1    AMER3         72.0
2    BBAS3        110.0
3   BPAC11        450.0
4    BPAN4       2100.0
5    BRFS3          0.0
6    BRKM5          0.0
7    BRSR6        700.0
8    COCE5         20.0
9    COGN3          0.0
10   CPFE3          0.0
11   CSAN3        225.0
12   CVCB3          0.0
13   ENEV3         50.0
14   EVEN3        200.0
15   GNDI3         35.0
16   GOAU4        200.0
17   HBOR3       1000.0
18   JPSA3        200.0
19   JSLG3        259.0
20   LAME4          0.0
21   LCAM3        800.0
22   MGLU3        745.0
23   MOVI3        600.0
24   MTRE3        600.0
25   OIBR3       6000.0
26   PARD3          0.0
27   PETR4       1100.0
28   PETZ3        300.0
29   POMO4       2700.0
30   PRIO3          0.0
31   PRNR3         35.0
32   QUAL3         60.0
33   RAPT4          0.0
34   RLOG3        200.0
35   RRRP3        100.0
36  SAPR11        135.0
37   SHUL4          0.0
38   TCSA3          0.0
39   TRIS3          0.0
40   VALE3        200.0
41   VIVA3         78.0
42   VIVT4         26.0
43   VVAR3        900.0
44   YDUQ3          0.0

In [14]:
df_stock_opB = df_stock[df_stock['Data da compra'] > '20000101'].reset_index()
df_stock_opB

,level_0,index,Produto,Data da compra,Data da venda,Quantidade,Preço unitário,Valor da Operação,Instituição
0,2,31,BBAS3,2020-03-06,NaT,50.0,31.86,1593.00,CLEAR CORRETORA - GRUPO XP
1,3,17,BBAS3,2020-06-24,NaT,50.0,33.70,1685.00,CLEAR CORRETORA - GRUPO XP
2,5,2,BPAC11,2021-10-20,NaT,200.0,25.47,5094.00,CLEAR CORRETORA - GRUPO XP
3,6,1,BPAC11,2021-12-11,NaT,200.0,23.88,4776.00,CLEAR CORRETORA - GRUPO XP
4,7,52,BPAC11,2020-02-04,NaT,100.0,34.00,3400.00,CLEAR CORRETORA - GRUPO XP
...,...,...,...,...,...,...,...,...,...
83,104,40,VIVA3,2020-03-06,NaT,50.0,20.00,1000.00,CLEAR CORRETORA - GRUPO XP
84,105,5,VIVT4,2020-07-31,NaT,26.0,50.88,1322.88,XP INVESTIMENTOS CCTVM S/A
85,106,62,VVAR3,2020-03-20,NaT,900.0,4.35,3915.00,CLEAR CORRETORA - GRUPO XP
86,108,41,YDUQ3,2020-03-06,NaT,40.0,29.50,1180.00,CLEAR CORRETORA - GRUPO XP
87,109,14,YDUQ3,2020-07-28,NaT,40.0,32.98,1319.20,CLEAR CORRETORA - GRUPO XP

In [16]:
df_stock_opS = df_stock[df_stock['Data da venda'] > '20000101'].reset_index()
df_stock_opS

,level_0,index,Produto,Data da compra,Data da venda,Quantidade,Preço unitário,Valor da Operação,Instituição
0,0,48,ABEV3,NaT,2020-05-19,100.0,11.81,1181.00,XP INVESTIMENTOS CCTVM S/A
1,1,6,AMER3,NaT,2021-10-11,72.0,32.67,2352.24,CLEAR CORRETORA - GRUPO XP
2,4,7,BBAS3,NaT,2021-05-24,210.0,32.83,6894.30,CLEAR CORRETORA - GRUPO XP
3,8,15,BPAC11,NaT,2020-03-07,50.0,78.15,3907.50,CLEAR CORRETORA - GRUPO XP
4,15,19,BRFS3,NaT,2021-02-22,50.0,23.11,1155.50,CLEAR CORRETORA - GRUPO XP
5,17,20,BRKM5,NaT,2021-02-22,100.0,30.34,3034.00,CLEAR CORRETORA - GRUPO XP
6,21,43,COGN3,NaT,2020-01-06,700.0,5.25,3675.00,CLEAR CORRETORA - GRUPO XP
7,23,30,CPFE3,NaT,2020-06-17,35.0,31.79,1112.65,CLEAR CORRETORA - GRUPO XP
8,28,45,CVCB3,NaT,2020-05-25,300.0,13.11,3933.00,CLEAR CORRETORA - GRUPO XP
9,34,46,GNDI3,NaT,2020-05-25,55.0,57.03,3136.65,CLEAR CORRETORA - GRUPO XP
10,43,7,LAME4,NaT,2021-10-11,400.0,5.81,2324.00,CLEAR CORRETORA - GRUPO XP
11,66,11,PARD3,NaT,2021-05-24,100.0,21.09,2109.00,CLEAR CORRETORA - GRUPO XP
12,80,51,PRIO3,NaT,2020-04-27,1100.0,20.41,22451.00,CLEAR CORRETORA - GRUPO XP
13,82,28,PRNR3,NaT,2020-06-19,35.0,10.02,350.70,CLEAR CORRETORA - GRUPO XP
14,85,29,RAPT4,NaT,2020-06-19,300.0,9.76,2928.00,CLEAR CORRETORA - GRUPO XP
15,89,14,SAPR11,NaT,2021-05-24,135.0,20.51,2768.85,CLEAR CORRETORA - GRUPO XP
16,91,47,SHUL4,NaT,2020-05-25,400.0,8.04,3216.00,CLEAR CORRETORA - GRUPO XP
17,94,15,TCSA3,NaT,2021-05-24,300.0,8.13,2439.00,CLEAR CORRETORA - GRUPO XP
18,95,16,TRIS3,NaT,2021-05-24,300.0,10.49,3149.10,CLEAR CORRETORA - GRUPO XP
19,101,0,VALE3,NaT,2021-10-25,100.0,74.00,7400.00,CLEAR CORRETORA - GRUPO XP
20,103,1,VIVA3,NaT,2021-10-25,128.0,26.89,3442.69,CLEAR CORRETORA - GRUPO XP
21,107,50,VVAR3,NaT,2020-05-05,1800.0,9.00,16200.00,CLEAR CORRETORA - GRUPO XP
22,110,17,YDUQ3,NaT,2021-05-24,80.0,31.43,2514.40,CLEAR CORRETORA - GRUPO XP

In [31]:
df_stock_opB['Lucro/Prejuízo'] = 0
for lineS in range(0, len(df_stock_opS)):
    for lineB in range(0, len(df_stock_opB)):
        if df_stock_opS.Produto[lineS] == df_stock_opB.Produto[lineB] and df_stock_opS['Data da compra'][lineS] <= df_stock_opB['Data da venda'][lineB]:
            df_stock_opB['Lucro/Prejuízo'][lineB] += df_stock_opB['Valor da Operação'][lineB]
df_stock_opB

,level_0,index,Produto,Data da compra,Data da venda,Quantidade,Preço unitário,Valor da Operação,Instituição,Lucro/Prejuízo
0,2,31,BBAS3,2020-03-06,NaT,50.0,31.86,1593.00,CLEAR CORRETORA - GRUPO XP,0
1,3,17,BBAS3,2020-06-24,NaT,50.0,33.70,1685.00,CLEAR CORRETORA - GRUPO XP,0
2,5,2,BPAC11,2021-10-20,NaT,200.0,25.47,5094.00,CLEAR CORRETORA - GRUPO XP,0
3,6,1,BPAC11,2021-12-11,NaT,200.0,23.88,4776.00,CLEAR CORRETORA - GRUPO XP,0
4,7,52,BPAC11,2020-02-04,NaT,100.0,34.00,3400.00,CLEAR CORRETORA - GRUPO XP,0
...,...,...,...,...,...,...,...,...,...,...
83,104,40,VIVA3,2020-03-06,NaT,50.0,20.00,1000.00,CLEAR CORRETORA - GRUPO XP,0
84,105,5,VIVT4,2020-07-31,NaT,26.0,50.88,1322.88,XP INVESTIMENTOS CCTVM S/A,0
85,106,62,VVAR3,2020-03-20,NaT,900.0,4.35,3915.00,CLEAR CORRETORA - GRUPO XP,0
86,108,41,YDUQ3,2020-03-06,NaT,40.0,29.50,1180.00,CLEAR CORRETORA - GRUPO XP,0
87,109,14,YDUQ3,2020-07-28,NaT,40.0,32.98,1319.20,CLEAR CORRETORA - GRUPO XP,0

In [ ]:
while df_stock_opS['Data da compra'] <= df_stock_opB['Data da venda']

In [23]:
df_stock_opS['Valor da Operação'][[df_stock_opS['Data da venda'] <= df_stock_opB['Data da compra']]]
# if df_stock_opS['Data da venda'] <= df_stock_opS['Data da compra']: 
# df_stock_opB['t'] = df_stock_opB['Valor da Operação'].groupby(['Produto']).where(df_stock_opS['Data da venda'] <= df_stock_opB['Data da compra'])
# df_stock_opB

ValueError: Can only compare identically-labeled Series objects

In [ ]:
df_stock_opB['Lucro/Prejuízo'] = 0

for lineS in range(0, len(df_stock_opS)):
    for lineB in range(0, len(df_stock_opB)):
        if df_stock_opS['Data da venda'][lineS] <= df_stock_opB['Data da compra'][lineB]:
            print(df_stock_opS['Valor da Operação'][lineS])

In [ ]:
 df_stock_opB['Lucro/Prejuízo'][lineB] += df_stock_opB['Data da compra'][lineB]
            print(df_stock_opB['Lucro/Prejuízo'][lineB])
            df_stock_opB['Lucro/Prejuízo'][lineB] = (df_stock_opB['Lucro/Prejuízo'][lineB] / len(df_stock_opB['Lucro/Prejuízo'][lineB]))- df_stock_opB['Valor da Operação'][lineB]
df_stock_opB = df_stock_opB[['Produto', 'Lucro/Prejuízo']]

In [ ]:
df_stock_opB = df_stock[df_stock['Data da compra'] > '20000101'].reset_index()
df_stock_opS = df_stock[df_stock['Data da venda'] > '20000101'].reset_index()

df_stock_opB['Lucro/Prejuízo'] = 0

for lineS in range(0, len(df_stock_opS)):
    for lineB in range(0, len(df_stock_opB)):
        if df_stock_opS['Data da venda'][lineS] <= df_stock_opB['Data da compra'][lineB]:
            df_stock_opB['Lucro/Prejuízo'][lineB] += df_stock_opB['Data da compra'][lineB]
            df_stock_opB['Lucro/Prejuízo'][lineB] = (df_stock_opB['Lucro/Prejuízo'][lineB] / len(df_stock_opB['Lucro/Prejuízo'][lineB]))- df_stock_opB['Valor da Operação'][lineB]
df_stock_opB = df_stock_opB[['Produto', 'Lucro/Prejuízo']]

sald_lu = pd.concat([quantidades_prod, df_stock_opB]).reset_index()

ir_fixo = sald_lu.groupby(['Produto']).sum().reset_index()
ir_fixo = ir_fixo.drop(columns='index')

ir_fixo

In [ ]:
#Encontrar lucro ou prejuízo
#qual o tempo da venda?
#qual era o valor médio da ação no momento da venda?
#calcular venda-compra

In [ ]:
df_fixedi_opB = df_fixedi[df_fixedi['Data da compra'] > '20000101'].reset_index()
df_fixedi_opS = df_fixedi[df_fixedi['Data da venda'] > '20000101'].reset_index()

df_fixedi_opB['Lucro/Prejuízo'] = 0

for lineS in range(0, len(df_fixedi_opS)):
    for lineB in range(0, len(df_fixedi_opB)):
        if df_fixedi_opS['Quantidade'][lineS] == df_fixedi_opB['Quantidade'][lineB]:
            df_fixedi_opB['Lucro/Prejuízo'][lineB] = df_fixedi_opS['Valor da Operação'][lineS] - df_fixedi_opB['Valor da Operação'][lineB]
df_fixedi_opB = df_fixedi_opB[['Produto', 'Lucro/Prejuízo']]
df_fixedi_opB

In [ ]:
duplicate = df_fixedi.Produto.duplicated()
duplicate

In [ ]:
te.Quantidade[0] *-1

In [ ]:
t = []
for q_b in range(0, len(df_fixedi_buy)):
    for q_s in range(0, len(df_fixedi_sel)):
        if df_fixedi_buy.Produto[q_b] == df_fixedi_sel.Produto[q_s]:
            quantity_b_s = df_fixedi_buy.Quantidade[q_b] - df_fixedi_sel.Quantidade[q_s]
            t.append(f'{df_fixedi_buy.Produto[q_b]} {quantity_b_s}')
t

In [ ]:
print(f'{df_fixedi_buy.Produto[q_b]}')

In [ ]:
df_fixedi['Quantidade Acumulada'] = df_fixedi['Quantidade'].cumsum()
df_fixedi

In [ ]:
df_fixedi['Quantidade Acumulada'] = 0
for line in range(0, len(df_fixedi)):
    if df_fixedi['Produto'].iloc[line] != df_fixedi['Produto'].iloc[line+1]:
        df_fixedi['Quantidade Acumulada'].append(df_fixedi['Quantidade'])
df_fixedi

In [ ]:
df_fixedi_sel.Produto

In [ ]:
df_fixedi_buy = df_fixedi[df_fixedi['Data da compra'] > '20000101'].groupby('Produto').agg({'Quantidade':'sum'})

In [ ]:
df_fixedi_buy = df_fixedi_buy.reset_index()
df_fixedi_buy.Produto[0]

In [ ]:
#t = df_fixedi_buy.Quantidade[0] - df_fixedi_sel.Quantidade[1]
df_fixedi_buy[0]

In [ ]:
t

In [ ]:
df_fixedi_buy.merge(df_fixedi_sel, left_on='Quantidade', right_on='Quantidade')

In [ ]:
saldo_fixe = df_fixedi_buy.

In [ ]:
Saldo_de_acoes = df_fixedi.groupby('Produto').agg({'Quantidade':'sum'})
Saldo_de_acoes

In [ ]:
# create a lucro feature

In [ ]:
# Not work weel however was amazing
# df_fixedi['Saldo_de_acoes'] = ''
# for line in range(0, len(df_fixedi)):
#     if df_fixedi['Produto'].iloc[line] != df_fixedi['Produto'].iloc[line+1]:
#         df_fixedi['Saldo_de_acoes'].iloc[line] = Saldo_de_acoes['Quantidade'].iloc[0]
#     else:
#         df_fixedi['Saldo_de_acoes'].iloc[line] = 'nan'
#     if df_fixedi['Produto'].iloc[-1] == df_fixedi['Produto'].iloc[-2]:
#         df_fixedi['Saldo_de_acoes'].iloc[-1] = Saldo_de_acoes['Quantidade'].iloc[-1]

In [ ]:
df_fixedi.Quantidade[df_fixedi.Produto == df_fixedi.Produto].sum()

In [ ]:
df_fixedi

In [ ]:
#creating spreadsheet
#nome cnpj data da compra data da venda quantidade valor R$ total lucro ou prejuízo R$ saldo de de ações
b3_sheet =