# Creating spreadsheet from B3 to income tax

# Criando uma planilha com dados retirados da B3 para declarar no impost do renda

In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd
from os import listdir
from os.path import isfile, join
import numpy as np

Is necessary to put the data in raw_data directory because the informations are personas

Necessário colocar os dados em raw_data por se tratar de informações pessoais

In [2]:
path = '../raw_data'
files = [f for f in listdir(path) if isfile(join(path, f))]

Feature engineering

Organizando as colunas

In [3]:
list_files = []
for file in range(0, len(files)):
    list_file = pd.read_excel(f'{path}/{files[file]}')
    list_files.append(list_file)
list_all_files = pd.concat(list_files)
list_all_files.Data = pd.to_datetime(list_all_files.Data)
list_files_s = list_all_files.sort_values(by=['Produto', 'Data'])
df_files = pd.DataFrame(list_files_s)
df_files

/home/thamirisbrandao/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Entrada/Saída,Data,Movimentação,Produto,Instituição,Quantidade,Preço unitário,Valor da Operação
48,Debito,2020-05-19,Transferência - Liquidação,ABEV3 - AMBEV S.A. ...,XP INVESTIMENTOS CCTVM S/A,100,11.81,1181.00
6,Debito,2021-10-11,Transferência - Liquidação,AMER3 - B2W COMPANHIA DIGITAL,CLEAR CORRETORA - GRUPO XP,72,32.67,2352.24
31,Credito,2020-03-06,Transferência - Liquidação,BBAS3 - BCO BRASIL S.A. ...,CLEAR CORRETORA - GRUPO XP,50,31.86,1593.00
17,Credito,2020-06-24,Transferência - Liquidação,BBAS3 - BCO BRASIL S.A. ...,CLEAR CORRETORA - GRUPO XP,50,33.70,1685.00
7,Debito,2021-05-24,Transferência - Liquidação,BBAS3 - BCO BRASIL S.A. ...,CLEAR CORRETORA - GRUPO XP,210,32.83,6894.30
...,...,...,...,...,...,...,...,...
62,Credito,2020-03-20,Transferência - Liquidação,VVAR3 - VIA VAREJO S.A. ...,CLEAR CORRETORA - GRUPO XP,900,4.35,3915.00
50,Debito,2020-05-05,Transferência - Liquidação,VVAR3 - VIA VAREJO S.A. ...,CLEAR CORRETORA - GRUPO XP,1800,9.00,16200.00
41,Credito,2020-03-06,Transferência - Liquidação,YDUQ3 - YDUQS PARTICIPACOES S.A. ...,CLEAR CORRETORA - GRUPO XP,40,29.50,1180.00
14,Credito,2020-07-28,Transferência - Liquidação,YDUQ3 - YDUQS PARTICIPACOES S.A. ...,CLEAR CORRETORA - GRUPO XP,40,32.98,1319.20
17,Debito,2021-05-24,Transferência - Liquidação,YDUQ3 - YDUQS PARTICIPACOES S.A. ...,CLEAR CORRETORA - GRUPO XP,80,31.43,2514.40

In [4]:
df_files['Data da compra'] = df_files['Data'].where(df_files['Entrada/Saída'] == 'Credito')
df_files['Data da venda'] = df_files['Data'].where(df_files['Entrada/Saída'] == 'Debito')
#df_files.drop(columns={[['Entrada/Saída', 'Data']]}, inplace=True)
df_files = df_files[['Produto', 'Data da compra', 'Data da venda', 'Quantidade', 'Preço unitário', 'Valor da Operação', 'Movimentação', 'Instituição']]
df_stock = df_files[df_files['Movimentação'] == 'Transferência - Liquidação']
df_stock = df_files[['Produto', 'Data da compra', 'Data da venda', 'Quantidade', 'Preço unitário', 'Valor da Operação', 'Instituição']]
df_fixedi_c = df_files[df_files['Movimentação'] == 'Compra']
df_fixedi_v = df_files[df_files['Movimentação'] == 'Venda']
df_fixedi = pd.concat([df_fixedi_c, df_fixedi_v])
df_fixedi = df_fixedi[['Produto', 'Data da compra', 'Data da venda', 'Quantidade', 'Preço unitário', 'Valor da Operação', 'Instituição']]

In [10]:
df_fixedi['Quantidade'] = df_fixedi.sort_values(by=['Produto'])

pd.to_numeric(df_fixedi['Quantidade'], downcast='float', inplace=True)

df_fixedi['Quantidade'].astype('float').dtypes

ValueError: Columns must be same length as key

In [ ]:
(df_stock)

In [ ]:
df_fixedi

In [7]:
t = df_fixedi.sort_values(by=['Produto'])
t

,Produto,Data da compra,Data da venda,Quantidade,Preço unitário,Valor da Operação,Instituição
63,Tesouro Selic 2023,NaT,2020-03-17,"0,71",10551.64,7491.66,XP INVESTIMENTOS CCTVM S/A
78,Tesouro Selic 2025,2020-07-01,NaT,"2,14",10466.52,22398.35,CLEAR CORRETORA - GRUPO XP
0,Tesouro Selic 2025,2022-03-23,NaT,"4,72",11457.89,54081.24,CLEAR CORRETORA - GRUPO XP
77,Tesouro Selic 2025,NaT,2020-03-02,"2,14",10495.41,22460.18,CLEAR CORRETORA - GRUPO XP
6,Tesouro Selic 2027,2021-10-19,NaT,"7,34",10905.72,80047.98,CLEAR CORRETORA - GRUPO XP

In [8]:
pd.to_numeric(t.Quantidade, downcast='float')

ValueError: Unable to parse string "0,71" at position 0

In [ ]:
te = df_fixedi.groupby('Produto').agg({'Quantidade':'sum'}).reset_index()

In [ ]:
te

In [ ]:
tes = t.groupby('Produto')['Quantidade'].sum()
tes

In [ ]:
t.Quantidade[t.Produto == t.Produto].sum()

In [ ]:
#se as linhas dos produtos forem iguais soma a quantidade e plota
#t = df_fixedi.groupby(['Produto']).agg({'Quantidade':'sum'})
#.count()[['Quantidade']]
#t

df_fixedi.groupby('Produto')['Quantidade'].sum()

In [ ]:
# df_stock['saldo de acoes'] = df_stock.groupby('Produto').sum()[[df_stock['Quantidade']]].reset_index()
# df_stock
df_stock_s = df_stock.sort_values(by=['Produto', 'Data'])
df_stock_s['saldo de acoes'] = df_stock_s.groupby(['Produto']).count()[['Quantidade']]
df_stock_s
# items = self.data['order_items']
#         p = items.groupby('order_id').count()[['product_id']]

In [ ]:
#creating spreadsheet
#nome cnpj data da compra data da venda quantidade valor R$ total lucro ou prejuízo R$ saldo de de ações
b3_sheet =